---
layout: default
title: Florent Cailhol
---

{% for post in site.posts %}
<article class="post clearfix">
  <header class="post-header">
    <div class="meta">
      <time datetime="{{ post.date | date:'%Y-%m-%d' }}" pubdate="pubdate">{{ post.date | date_to_long_string }}</time>
    </div>
    <h1 class="title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  </header>
  <section class="post-content">
    {{ post.excerpt }}
  </section>
  {% if post.excerpt != post.content %}
  <footer class="post-footer">
    <div class="read-more">
      <a href="{{ post.url }}">Read more <span>&rarr;</span></a>
    </div>
  </footer>
  {% endif %}
</article>
{% endfor %}
