*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 112.5%; // Set `font-size` to 18px
}

body {
  background: #fff;
  color: $base01;
}

.site-column {
  margin: 0 auto;
  width: 48rem;
}
