// Base
// ----

body {
  font-family: $font-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Titles
// ------

h1, h2, h3, h4 {
  font-family: $font-sans-serif;
  letter-spacing: -0.02em;
  margin: 2rem 0 0.5rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

h1 + h2, h1 + h3, h1 + h4,
h2 + h3, h2 + h4,
h3 + h4 {
  margin-top: -0.5rem;
}

// Misc
// ----

a {
  color: inherit;
  text-decoration: none;
}

code,
pre {
  font-family: $font-monospace;
  font-size: 0.875rem;
  letter-spacing: 0;
}

p,
ol,
ul,
blockquote,
table {
  margin: 0.5rem 0 2rem;
}
